<!DOCTYPE html>
<html>

<head>
  <title>iDiet</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css"
        href="/css/start.css">
  <script type="text/javascript"
          src="/js/start.js">
  </script>
</head>
<body style="background: #fff">
<div class="start-wrapper">

  "<script type=\"text/javascript\" id=\"spoonacular-price-estimator-script\">jQuery(function() {var chart = new CanvasJS.Chart('spoonacularPriceBreakdownChart',{backgroundColor: 'rgba(0,0,0,0)',creditHref: '',creditText: '',toolTip:{content: \"{price} for {amount} <br> {indexLabel} <br> <img src=''{image}> \",},data: [{type: 'doughnut',dataPoints: [{ image: \"https://spoonacular.com/cdn/ingredients_100x100/flour.png\", amount:\"3 ounces\", price:\"11 cents\", y:\"11\", indexLabel:\"flour\"},{ image: \"https://spoonacular.com/cdn/ingredients_100x100/cheddar-cheese.png\", amount:\"5 ounces\", price:\"$1.52\", y:\"152\", indexLabel:\"cheese\"},]}]});chart.render();});</script><div ><div id=\"spoonacularPriceBreakdownChart\" style=\"height: 380px; width: 480px;float:center;max-width:100%;\"></div><div id=\"spoonacularPriceBreakdownTable\" style=\"float:center;min-width:320px;margin-top:24px;margin-center:12px;font-size: 14px;line-height: 22px;\"><div class=\"spoonacular-quickview\" style=\"margin-bottom:6px;\">Cost per Serving: $0.82</div><div style=\"clear:both\"></div><div style=\"display:inline-block;float:center;max-width:80%\"><b>Ingredient</b><br>3 ounces flour<br>5 ounces cheese<br></div><div style=\"text-align:right;display:inline-block;float:center;padding-left:1em\"><b>Price</b><br>$0.11<br>$1.52<br><div style=\"border-top: 3px double black\">$1.63</div></div></div><div style=\"clear:both\"></div></div>"


  <div class="start-page-holder" style="<%=locals.action? 'height:30%':'' %>">
    <img class="logo" src="/img/logo.png" style="<%=locals.action? 'top:50%':'' %>">
    <div class="button-container" style="<%=locals.action? 'display:none':'' %>">
      <div class="button-holder">
        <button id="signup-btn" class="centered start-btn">Get Started</button>
        <p class="centered start-text">
          Already have an account?<br>
          <a id="login-btn" class="start-link">Log In</a>
        </p>
      </div>
    </div>
  </div>
  <div class="form-holder <%- locals.action? locals.action : ''%>">
    <div class="back-btn back"></div>
    <% if (locals.error && locals.error == 1) {%>
      <div class="errorBox">Invalid username or password.</div>
    <% }%>
    <form enctype="application/x-www-form-urlencoded" method="post" class="login-form">
      <div class="login-header">
        <h3>Login</h3>
      </div>
      <div style="font-size: 13.5pt;">
        Username:<br>
        <input class="text" type="text" name="username" style="width: 100%;height: 35px;">
        <br>
        <br>
        Password:<br>
        <input class="text" type="password" name="password" style="width: 100%;height: 35px;">
      </div>
      <br>
      <input type="submit" value="Log In" style="width: 120px;">
      <input name="action" id="action" type="hidden" value="<%- locals.action %>">
    </form>
  </div>
</div>



</body>

</html>